.vscode/*

# Local History for Visual Studio Code
.history/

# dapp debug folders
./hevm/*
**.DS_Store
hevm.libs.*
**/artifacts/**
outTests/*
truffle_output/*

node_modules/*
artifacts/*
cache/*
typechain-types/*

.env
coverage
coverage.json
typechain
bin

.openzeppelin/.session

deployments/*
bindings-artifacts/*
!deployments/dev/deploymentArgsTemplate.json
!deployments/dev/deployList.json
**/generated/*
storageLayout/*
storageLayout
