{
  "trailingComma": "es5",
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 100,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false,
        "compiler": "^0.8.16"
      }
    }
  ]
}
